NEXT_PUBLIC_APP_NAME="John Doe"
NEXT_PUBLIC_INTRO_TITLE="Designer Developer and Dreamer"
NEXT_PUBLIC_INTRO_DESCRIPTION="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, molestiae aperiam. Est nesciunt voluptatem reiciendis eos laudantium a dicta officia!"

# Social media links
NEXT_PUBLIC_TWITTER_URL=https://www.twitter.com
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com
NEXT_PUBLIC_GITHUB_URL=https://www.github.com
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com
