.footer {
  @apply bg-primary pb-5;
  margin-top: 160px;

  @media (min-width: 640px) {
    margin-top: 100px;
  }
}

.projectBox {
  @apply text-white bg-gray-800 grid grid-cols-1;
  @apply lg:grid-cols-4 gap-y-8 lg:gap-y-0 mx-auto;
  @apply rounded-md shadow transform -translate-y-1/2;
  @apply px-6 py-8 lg:px-10 lg:py-10;
  width: 90%;

  @media (min-width: 640px) {
    width: 80%;
  }
}

.heading {
  @apply text-2xl font-bold;
}

.description {
  @apply text-center text-base leading-7 lg:w-4/5 mx-auto col-span-2;
}

.button {
  @apply text-white bg-transparent font-medium py-2 px-6;
  @apply border-2 border-solid rounded-full border-primary;
  @apply lg:py-2.5  hover:bg-primary;

  &:hover {
    color: white !important;
  }
}

.tagline {
  @apply text-2xl text-center text-gray-300 leading-10 transform -translate-y-1/2;
}

.socialIconsWrapper {
  @apply flex justify-center mt-5 lg:mt-10;
}

.socialIcon {
  @apply text-white bg-primary leading-10 text-center;
  @apply h-10 w-10 inline-flex justify-center items-center text-base;
  @apply rounded-full text-xl mx-1.5 hover:bg-white hover:text-primary;
  svg {
    @apply h-7 md:h-6;
  }
}

.copyrights {
  @apply mt-10 text-lg text-center text-gray-300;
  a {
    @apply text-white font-semibold inline-block mx-0.5;
  }
}

